.ir-stats {
    width: var(--app-width);
    margin: 0 auto;
    position: relative;

    @include media-small {
        width: 95%;
    }
}

.header {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;

    @include media-small {
        width: 95%;
    }

    & .page-title {
        position: absolute;
        top: 0;
        right: 0;
        color: var(--accent-color);
    }

    .logo {
        img {
            max-width: var(--logo-max-width);
        }
    }
}

.back-button {
    border: 1px solid var(--accent-color);
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 28px;

    &:after {
        content: ' ';
        border: solid var(--black);
        border-width: 0 3px 3px 0;
        padding: 3px;
        position: absolute;
        top: 9px;
        left: 8px;
        transform: rotate(135deg);
    }

    &:hover {
        background-color: var(--accent-color);

        &:after {
            border: solid var(--white);
            border-width: 0 3px 3px 0;
        }
    }
}

.driver-name {
    margin-left: 5px;
}