@import "./variables";
@import "./media";
@import "./mixins";
@import "./layout";
@import "./layout-side";
@import "./components";

body {
    font-family: var(--main-font);
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--accent-color);
}