.notes-container {
    button {
        color: var(--accent-color);
        background-color: var(--white);
        border: 1px solid var(--accent-color);
        font-family: var(--main-font);
        font-size: var(--font-small);
        padding: 5px;
        cursor: pointer;
        margin: 5px 5px 0 0;

        &:hover,
        &:active {
            color: var(--white);
            background-color: var(--accent-color);
        }
    }

    .note-edit {
        margin-top: 5px;
        width: calc(100% - 5px);
        height: 200px;
        font-family: var(--main-font);
        font-size: var(--font-normal);
    }

    .notes {
        margin: 5px;
    }
}