.week-data {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
    box-shadow: var(--global-box-shadow);
    border-radius: var(--global-border-radius);
}

.week-item {
    text-align: center;
    padding: 12px;
    background: var(--white);
    position: relative;

    @include media-small {
        padding: 6px;
    }

    &:nth-last-child(n+2):after {
        position: absolute;
        content: '';
        top: 0;
        right: -4%;
        height: 100%;
        width: 1px;
        background-color: var(--background-light-grey);
        z-index: 3;
    }

    .week-item-hover {
        position: absolute;
        text-align: center;
        border-radius: var(--global-border-radius);
        padding: 12px;
        border: 1px solid var(--accent-color);
        background: linear-gradient(var(--white), var(--background-light-grey));
        z-index: 4;
    }

    .week-item-value {
        margin-top: 4px;
        font-size: var(--font-large);
        font-weight: 700;
        color: var(--accent-color);
    }
}